@import "bootstrap";
@import "components/sidebar";
@import "components/recipes";
@import "components/loading";
@import "components/header";
@import "components/footer";
@import "components/rocks";

body {
  padding-top: 3.5em;
  overflow-x: hidden;
}

.container-fluid {

}

/**
 * Form Overrides
 */
.form-control {
  &:focus {
    outline: none !important;
    box-shadow: none;
    border-color: $gray-400;
    border-bottom-color: $primary;
  }
}

.input-card {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.btn {
  i {
    font-size: 0.8rem;
  }
}

/**
 * Ignore default padding
 */
.content--fullfill {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -1.5rem;
  @media screen and (min-width: 768px) {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

.content--fullwidth {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  @media screen and (min-width: 768px) {
    margin-left: -3rem;
    margin-right: -3rem;

  }
}

.parallax--home{
  .react-parallax-bgimage {
    filter: brightness(40%) !important;
  }
}

.article-title__wrapper {
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.article-title {
  font-family: 'Rubik', sans-serif;
  font-size: 3.25rem;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-bottom: 0.2em;

  @media screen and (min-width: 768px) {
    font-size: 4.25rem;
  }
}

.dropdown-menu {
  padding: 0;
  top: 5px;

  .dropdown-item {
    padding: 0.5rem 1.6rem;
    line-height: 2.3;
  }

  .dropdown-divider {
    margin: 0;
  }
}

.hide-mobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.hide-desktop {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// center marker on location pick
.Marker {
  top: 44%;
}

// Place list on google maps set visible in modal
.pac-container {
  z-index: 1051 !important;
}

/**
 * Pulsating Loading Animation
 */
.content-loading {
  opacity: 1;
  animation: fadeInOut 1s linear;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0.2 }
  50% { opacity: 0.7 }
}
