@import "bootstrap";
@import "components/sidebar";
@import "components/recipes";
@import "components/loading";
@import "components/header";
@import "components/footer";
@import "components/rocks";

body {
  padding-top: 3.5em;
}

/**
 * Form Overrides
 */
.form-control {
  &:focus {
    outline: none !important;
    box-shadow: none;
    border-color: $gray-400;
    border-bottom-color: $primary;
  }
}

.input-card {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.btn {
  i {
    font-size: 0.8rem;
  }
}

.dropdown-menu {
  padding: 0;
  top: 5px;

  .dropdown-item {
    padding: 0.5rem 1.6rem;
  }
}

.popover {
  line-height: 2.3;
  font-size: 1.2rem;
  width: 100%;
}

.hide-mobile {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.hide-desktop {
  @media screen and (min-width: 600px) {
    display: none;
  }
}

// center marker on location pick
.Marker {
  top: 44%;
}

// Place list on google maps set visible in modal
.pac-container {
  z-index: 1051 !important;
}

/**
 * Pulsating Loading Animation
 */
.content-loading {
  opacity: 1;
  animation: fadeInOut 1s linear;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0.2 }
  50% { opacity: 0.7 }
}
